<?xml version="1.0" encoding="utf-8" ?>
<RuleSet Name="StyleCop rules for Core Application" Description="Custom Rules" ToolsVersion="10.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.CSharp.ReadabilityRules">
        <Rule Id="SA1101" Action="None" />
        <!-- <Rule Id="SA1124" Action="None" /> -->

        <!-- Code ordering rules -->
        <Rule Id="SA1200" Action="None" /> <!-- Using must be inside namespace -->
        <Rule Id="SA1201" Action="None" />
        <Rule Id="SA1202" Action="None" />
        <Rule Id="SA1203" Action="None" />
        <Rule Id="SA1204" Action="None" />

        <!-- Accessibility rules -->
        <Rule Id="SA1401" Action="None" /> <!-- Fields should be private -->

        <!-- Braces rules -->
        <Rule Id="SA1503" Action="None" /> <!-- Braces should not be omitted -->

        <!-- Documentation related rules -->
        <Rule Id="SA1600" Action="None" />
        <Rule Id="SA1602" Action="None" />
        <Rule Id="SA1610" Action="None" />
        <Rule Id="SA1616" Action="None" />

        <!-- Header -->
        <Rule Id="SA1633" Action="None" />
        c
        <!-- Inheritdoc -->
        <Rule Id="SA1648" Action="None" />
    </Rules>
    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
        <Rule Id="CA1021" Action="Error" />
        <Rule Id="CA1303" Action="None" />
        <Rule Id="CA1305" Action="None" />
        <Rule Id="CA1307" Action="None" />
        <Rule Id="CA2225" Action="None" />
        <Rule Id="CA1062" Action="None" />
        <Rule Id="CA1710" Action="Info" />
        <Rule Id="CA2227" Action="None" />
        <Rule Id="CA1814" Action="None" /> <!-- Jagged arrays -->
        <Rule Id="CA1822" Action="Info" />
    </Rules>
</RuleSet>